section.blog 
    .container 
        .blog__content 
            +headingSection("Blog")
            .swiper.blog__mySwiper
                .swiper-wrapper 
                    .blog__item.swiper-slide 
                        a.blog__link(href="#!")
                            .blog__images 
                                img.blog__img(src="", alt="")
                            h4.blog__name COLEMAN FAMILY CAMP IS BACK!
                            p.blog__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis alias ratione velit quasi assumenda modi ipsum, vel dignissimos obcaecati exercitationem.
                            button.btn.blog__btn Read more
                    .blog__item.swiper-slide 
                        a.blog__link(href="#!")
                            .blog__images 
                                img.blog__img(src="", alt="")
                            h4.blog__name COLEMAN FAMILY CAMP IS BACK!
                            p.blog__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis alias ratione velit quasi assumenda modi ipsum, vel dignissimos obcaecati exercitationem.
                            button.btn.blog__btn Read more
                    .blog__item.swiper-slide 
                        a.blog__link(href="#!")
                            .blog__images 
                                img.blog__img(src="", alt="")
                            h4.blog__name COLEMAN FAMILY CAMP IS BACK!
                            p.blog__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis alias ratione velit quasi assumenda modi ipsum, vel dignissimos obcaecati exercitationem.
                            button.btn.blog__btn Read more
                    .blog__item.swiper-slide 
                        a.blog__link(href="#!")
                            .blog__images 
                                img.blog__img(src="", alt="")
                            h4.blog__name COLEMAN FAMILY CAMP IS BACK!
                            p.blog__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis alias ratione velit quasi assumenda modi ipsum, vel dignissimos obcaecati exercitationem.
                            button.btn.blog__btn Read more
                    .blog__item.swiper-slide 
                        a.blog__link(href="#!")
                            .blog__images 
                                img.blog__img(src="", alt="")
                            h4.blog__name COLEMAN FAMILY CAMP IS BACK!
                            p.blog__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis alias ratione velit quasi assumenda modi ipsum, vel dignissimos obcaecati exercitationem.
                            button.btn.blog__btn Read more
                    .blog__item.swiper-slide 
                        a.blog__link(href="#!")
                            .blog__images 
                                img.blog__img(src="", alt="")
                            h4.blog__name COLEMAN FAMILY CAMP IS BACK!
                            p.blog__desc Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis alias ratione velit quasi assumenda modi ipsum, vel dignissimos obcaecati exercitationem.
                            button.btn.blog__btn Read more
                .blog__swiper-button-next.swiper-button-next
                    i.far.fa-chevron-right
                .blog__swiper-button-prev.swiper-button-prev
                    i.far.fa-chevron-left
                .swiper-pagination.blog__mySwiper
                .autoplay-progress