section.brand 
    .container 
        .brand__content
            +headingSection("our brands")(class="uppercase center")
            .brand__list 
                .brand__item 
                    .brand__images 
                        img(src="images/aerobed-logo-300x300.png", alt="") 
                .brand__item 
                    .brand__images 
                        img(src="images/aerobed-logo-300x300.png", alt="") 
                .brand__item 
                    .brand__images 
                        img(src="images/aerobed-logo-300x300.png", alt="") 
                .brand__item 
                    .brand__images 
                        img(src="images/aerobed-logo-300x300.png", alt="") 
