section.category 
    .container 
        .category__content
            .category__heading 
                +headingSection("Products category")
            .category__list 
                +categoryItem()
                +categoryItem()
                +categoryItem("Cooler", "images/category-cooler.jpg")
                +categoryItem()
                +categoryItem()
                +categoryItem()
                +categoryItem()
                +categoryItem()
                +categoryItem()
                +categoryItem()
                +categoryItem()
                +categoryItem()

