section.gird-category 
    .container 
        .gird-category__content
            .gird-category__heading
                +headingSection("What's new")
            .gird-category__list 
                .gird-category__item 
                    a.gird-category__link(href="#!")
                        img.gird-category__img(src="images/gird-category-120th.jpg", alt="") 
                .gird-category__item 
                    a.gird-category__link(href="#!")
                        img.gird-category__img(src="images/gird-category-coyote.jpg", alt="") 
                .gird-category__item 
                    a.gird-category__link(href="#!")
                        img.gird-category__img(src="images/gird-category-olive.jpg", alt="") 
                .gird-category__item 
                    a.gird-category__link(href="#!")
                        img.gird-category__img(src="images/gird-category-evergreen.jpg", alt="") 
                .gird-category__item 
                    a.gird-category__link(href="#!")
                        img.gird-category__img(src="images/gird-category-silver.jpg", alt="") 
                .gird-category__item 
                    a.gird-category__link(href="#!")
                        img.gird-category__img(src="images/gird-category-master.jpg", alt="") 