section.info-member 
    .container 
        .info-member__content
            .info-member__list
                +infoMemberItem("FREE SHIPPING", "Purchase RM 400 and Above Peninsular Malaysia Only")
                +infoMemberItem("MEMBERSHIP", "Lifetime membership without any fee")
                +infoMemberItem("LOYALTY POINTS", "Enjoy Cash Discount")