section.new-arrival
    .container
        .new-arrival__content
            .swiper.new-arrival__mySwiper
                .swiper-wrapper
                    .new-arrival__item.swiper-slide
                        a.swiper-slide__link(href="#!")
                            .new-arrival__images
                                img.new-arrival__img.new-arrival__img--primary(src="images/product-test-primary.png", alt="") 
                                img.new-arrival__img.new-arrival__img--secondary(src="images/product-test-secondary.png", alt="")
                            h4.new-arrival__name COLEMAN 2 GAL CHILLER STACKER JUG (OCEAN)
                            p.new-arrival__price RM259.00
                            p.new-arrival__price-down Lorem ipsum dolor sit amet consectetur.
                        .new-arrival__button 
                            a.new-arrival__btn-link(href="#!")
                                button.btn
                                    i.fal.fa-cart-plus.fa-flip-horizontal
                                    span Add to cart 
                    +productSlide()
                    +productSlide()
                    +productSlide()
                    +productSlide()
                    +productSlide()
                    +productSlide()
                    +productSlide()
                    +productSlide()
                    +productSlide()
                    +productSlide()
                    +productSlide()
                .new-arrival__swiper-button-next.swiper-button-next
                    i.far.fa-chevron-right
                .new-arrival__swiper-button-prev.swiper-button-prev
                    i.far.fa-chevron-left
                .swiper-pagination.new-arrival__mySwiper
                .autoplay-progress