section.new-arrival
    .container
        .new-arrival__content
            .swiper.new-arrival__mySwiper
                .swiper-wrapper
                    .swiper-slide
                        a.swiper-slide__link(href="#!")
                            .swiper-slide
                                .new-arrival__test 1
                    .swiper-slide
                        a.swiper-slide__link(href="#!")
                            .swiper-slide 
                                .new-arrival__test 2
                    .swiper-slide
                        a.swiper-slide__link(href="#!")
                            .swiper-slide
                                .new-arrival__test 3
                    .swiper-slide
                        a.swiper-slide__link(href="#!")
                            .swiper-slide
                                .new-arrival__test 4
                    .swiper-slide
                        a.swiper-slide__link(href="#!")
                            .swiper-slide
                                .new-arrival__test 5
                    .swiper-slide
                        a.swiper-slide__link(href="#!")
                            .swiper-slide
                                .new-arrival__test 6
                    .swiper-slide
                        a.swiper-slide__link(href="#!")
                            .swiper-slide
                                .new-arrival__test 7
                    .swiper-slide
                        a.swiper-slide__link(href="#!")
                            .swiper-slide
                                .new-arrival__test 8
                    .swiper-slide
                        a.swiper-slide__link(href="#!")
                            .swiper-slide
                                .new-arrival__test 9
                    .swiper-slide
                        a.swiper-slide__link(href="#!")
                            .swiper-slide
                                .new-arrival__test 10
                    .swiper-slide
                        a.swiper-slide__link(href="#!")
                            .swiper-slide
                                .new-arrival__test 11
                    .swiper-slide
                        a.swiper-slide__link(href="#!")
                            .swiper-slide
                                .new-arrival__test 12
                .new-arrival__swiper-button-next
                    i.far.fa-chevron-right
                .new-arrival__swiper-button-prev
                    i.far.fa-chevron-left