section.product-new 
    .product-new__show 
        .product-new__form-show 
            label(for="") show
            input(type="text")
    .product-new__product 
        .product-new__product-list
            +product()
            +product()
            +product()
            +product()