aside.aside
    h3.aside-header All categories
    nav.nav-secondary 
        ul.nav-secondary__list(role="list") 
            li.nav-secondary__item 
                a.nav-secondary__link(href="#!")
                    span.nav-secondary__title Shop by brand 1
                    i.fal.fa-plus.nav-secondary__icon
                ul.nav-secondary__nav(role="list")
                    li.nav-secondary__item 
                        a.nav-secondary__link(href="#!")
                            span.nav-secondary__title Shop by brand 1.1
                            i.fal.fa-plus.nav-secondary__icon
                    li.nav-secondary__item 
                        a.nav-secondary__link(href="#!")
                            span.nav-secondary__title Shop by brand 1.2
                            i.fal.fa-plus.nav-secondary__icon
                    li.nav-secondary__item 
                        a.nav-secondary__link(href="#!")
                            span.nav-secondary__title Shop by brand 1.3
                            i.fal.fa-plus.nav-secondary__icon
            li.nav-secondary__item 
                a.nav-secondary__link(href="#!")
                    span.nav-secondary__title Shop by brand 2
                    i.fal.fa-plus.nav-secondary__icon
            li.nav-secondary__item 
                a.nav-secondary__link(href="#!")
                    span.nav-secondary__title Shop by brand 3
                    i.fal.fa-plus.nav-secondary__icon
            li.nav-secondary__item 
                a.nav-secondary__link(href="#!")
                    span.nav-secondary__title Shop by brand 4
                    i.fal.fa-plus.nav-secondary__icon
            li.nav-secondary__item 
                a.nav-secondary__link(href="#!")
                    span.nav-secondary__title Shop by brand 5
                    i.fal.fa-plus.nav-secondary__icon
