//- section.swiper.mySwiper
//-     .swiper-wrapper
//-         a.swiper-slide__link
//-             .swiper-slide
//-                 img(src="images/slide-1-1920x800.jpg", alt="")
//-         a.swiper-slide__link
//-             .swiper-slide
//-                 img(src="images/Coleman-Slider 3-1920x800-1920x800.jpg", alt="")
//-     .swiper-button-next
//-     .swiper-button-prev
//-     .swiper-pagination
//-     .autoplay-progress
//-         svg(viewBox="0 0 48 48")
//-             circle(cx="24" cy="24" r="20")
//-         span
.swiper.mySwiper
  .swiper-wrapper
    .swiper-slide
        a.swiper-slide__link
            .swiper-slide
                img(src="images/slide-1-1920x800.jpg", alt="")
    .swiper-slide
        a.swiper-slide__link
            .swiper-slide
                img(src="images/Coleman-Slider 3-1920x800-1920x800.jpg", alt="")
    .swiper-slide
        a.swiper-slide__link
            .swiper-slide
                img(src="images/slide-3.jpg", alt="")
    .swiper-slide
        a.swiper-slide__link
            .swiper-slide
                img(src="images/slide-4.jpg", alt="")
    .swiper-slide
        a.swiper-slide__link
            .swiper-slide
                img(src="images/slide-5.png", alt="")
  .swiper-button-next
    i.far.fa-chevron-right
  .swiper-button-prev
    i.far.fa-chevron-left
  .swiper-pagination
  .autoplay-progress