.info-member {
  $bg: #f7f5f1;

  @include bg($bg);
  box-shadow: 0 -5px 20px -5px rgba(0, 0, 0, 0.2);
  &__content {
    padding: 0 40px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    & > * {
      flex: 1 1 33%;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
  }
  &__icon {
    $cricle: 65px;
    $bg: #dc0212;

    min-width: $cricle;
    min-height: $cricle;
    @include bg($bg);
    border-radius: 50%;
    display: grid;
  }
  &__ic {
    margin: auto;
    font-size: 2.8rem;
    color: #fff;
  }
  &__right {
    margin-left: 15px;
    max-width: 200px;
    font-size: 1.5rem;
    line-height: 1.53;
  }
  &__title {
    $color-text: rgba(0, 0, 0, 1);

    color: $color-text;
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__desc {
    $color-text: rgba(89, 96, 119, 1);
    color: $color-text;
    font-size: 1.5rem;
  }
  @include maxWidth(1023.98px) {
    &__content {
      padding: 0 0;
    }
    &__item {
      padding: 15px 0;
    }
  }
  @include maxWidth(767.98px) {
    &__list {
      & > * {
        flex: 0 1 50%;
      }
    }
    &__item {
      justify-content: flex-start;
    }
  }
  @include maxWidth(639.98px) {
    &__desc {
      font-size: 1.4rem;
      line-height: 1.32;
    }
    &__item {
      padding: 5px 0;
    }
  }
}
