body {
  font-size: 1.7rem;
  font-family: $ff-primary;
  background-color: #ccc;
  height: 5000px;
}
.container {
  $max-width: 1440px;
  $padding: 10px;

  width: min($max-width, 100% - $padding * 2);
  margin-inline: auto;
}
.heading-secondary {
  font-size: 3.2rem;
  font-weight: 700;
  color: #38444f;
  text-transform: uppercase;
  @include maxWidth(480px) {
    font-size: 2.4rem;
  }
}
