body {
  font-size: 1.7rem;
  font-family: $ff-primary;
  background-color: #ccc;
  height: 5000px;
}
.container {
  $max-width: 1440px;
  $padding: 10px;

  width: min($max-width, 100% - $padding * 2);
  margin-inline: auto;
}
